aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
backoff
beautifulsoup4
certifi
cffi
chardet
charset-normalizer
click
cryptography
dataclasses-json
deepdiff
Deprecated
emoji
filetype
frozenlist
greenlet
h11
httpcore
httpx
idna
joblib
jsonpatch
jsonpath-python
jsonpointer
langchain
langchain-community
langchain-core
langchain-text-splitters
langdetect
langsmith
lxml
marshmallow
multidict
mypy-extensions
nest-asyncio
nltk
numpy
olefile
orderly-set
orjson
packaging
pdf2image
pdfminer.six
pikepdf
pillow
psutil
pycparser
pydantic
pydantic-settings
pydantic_core
pypdf
python-dateutil
python-dotenv
python-iso639
python-magic
PyYAML
rank-bm25
RapidFuzz
regex
requests
requests-toolbelt
six
sniffio
soupsieve
SQLAlchemy
tabulate
tenacity
tqdm
typing-inspect
typing_extensions
unstructured
unstructured-client
urllib3
wrapt
yarl
